{{ header }}
<style>
    /* Set black background color, white text and some padding */
    footer {
        background-color: #694b8f;
        color: white;
        padding: 15px;
    }
    #radioBtn .notActive{
        color: #3276b1;
        background-color: #fff;
    }
    .error{
        color: red!important;
    }
</style>
<script type="text/javascript" src="view/javascript/jquery.validate.min.js"></script>
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>   <img class="homepage-grid-icon" src="https://adnsms.com/wp-content/uploads/thegem-logos/logo_c4af15398636198cd9ab46893854fbca_1x.png">{{ heading_title }}</h1>
            <div class="pull-right">
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}

                </ul>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>


            <div class="panel-body">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                    {% if config.adn_sms_auth_key!=null %}
                        <li><a href="#tab-notification" data-toggle="tab">{{ tab_notification }}</a></li>
                        <li><a href="#tab-custom" data-toggle="tab">{{ tab_send_custom }}</a></li>
                        <li><a href="#tab-balance" data-toggle="tab">{{ tab_balance }}</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-general">

                        <div class="col-sm-6">
                            <div class="panel panel-default panel-floating panel-floating-inline">
                                <div class="panel-body">
                                    <form method="post" action="javascript:void(0)" id="formId" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="input-debug" class="col-sm-2">{{ entry_select_type }}</label>
                                            <div class="col-sm-10">
                                                <select name="type" id="input-debug" class="form-control" required>
                                                    <option value="" >{{ entry_select_type }}</option>
                                                    <option value="live" {% if config.adn_sms_type=='live' %} selected {% endif %}>{{ entry_live }}</option>
                                                    <option value="sandbox" {% if config.adn_sms_type=='sandbox' %} selected {% endif %}>{{ entry_sandbox }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-auth-key" class="col-sm-2">{{ entry_auth_key }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="auth_key" value="{{ config.adn_sms_auth_key }}" id="input-auth-key" class="form-control" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-auth-secret" class="col-sm-2">{{ entry_auth_secret }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="auth_secret" value="{{ config.adn_sms_auth_secret }}" id="input-auth-secret" class="form-control" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="submit" id="button-update" class="btn btn-primary" value="Save">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if config.adn_sms_auth_secret!=null %}
                        <div class="tab-pane table-responsive" id="tab-notification">
                            <div class="panel panel-default panel-floating panel-floating-inline">
                                <div class="panel-body">
                                    <form method="post" action="javascript:void(0)" id="formNotify" class="form-horizontal">
                                        <div class="col-sm-12">

                                            <h4 class="text-center " style="color: #694c90;}">Dynamic SMS Body Keywords: <span style="color: red">[USER_NAME]</span> = Customer Name , <span style="color: red">[ORDER_ID]</span> = Order ID, <span style="color: red">[AMOUNT]</span> = Total Amount, <span style="color: red">[SITE_NAME]</span> = Website Name.  </h4>

                                        </div>
                                        <div class="col-sm-12">

                                            <div class="form-group">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on Registration :</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm  {% if settings.register.status==0 %} active  {% else %} notActive {% endif %}" id="registration_yes" data-toggle="send_sms_registration" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm  {% if settings.register.status==1 %} active  {% else %} notActive {% endif %}" id="registration_no" data-toggle="send_sms_registration" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_registration" id="send_sms_registration" value="{% if settings.register.status %} {{ settings.register.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>
                                                <label class="col-sm-12 col-md-2 control-label" for="registration_msg">Registration Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="registration_msg" class="form-control" rows="3" id="registration_msg" placeholder="Registration Massage " required {% if settings.register.status==1 %}readonly="readonly"{% endif %} >{% if settings.register.message %}{{ settings.register.message }} {% endif %}</textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on Password Reset :</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm {% if settings.password_reset.status==0 %} active  {% else %} notActive {% endif %}" id="password_reset_yes" data-toggle="send_sms_password_reset" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm {% if settings.password_reset.status==1 %} active  {% else %} notActive {% endif %}" id="password_reset_no" data-toggle="send_sms_password_reset" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_password_reset" id="send_sms_password_reset" value="{% if settings.password_reset.status %} {{ settings.password_reset.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>

                                                <label class="col-sm-12 col-md-2 control-label" for="password_reset_msg">Password Reset Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="password_reset_msg" class="form-control" rows="3" id="password_reset_msg" placeholder="Password Reset Massage " required {% if settings.password_reset.status==1 %}readonly="readonly"{% endif %} >{% if settings.password_reset.message %}{{ settings.password_reset.message }} {% endif %}</textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on Shipped:</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm {% if settings.shipped.status==0 %} active  {% else %} notActive {% endif %}" id="shipped_yes" data-toggle="send_sms_shipped" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm {% if settings.shipped.status==1 %} active  {% else %} notActive {% endif %}" id="shipped_no" data-toggle="send_sms_shipped" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_shipped" id="send_sms_shipped" value="{% if settings.shipped.status %} {{ settings.shipped.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>

                                                <label class="col-sm-12 col-md-2 control-label" for="pending_msg">Shipped Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="shipped_msg" class="form-control" rows="3" id="shipped_msg" placeholder="Shipped Massage " required {% if settings.shipped.status==1 %}readonly="readonly"{% endif %} >{% if settings.shipped.message %}{{ settings.shipped.message }} {% endif %}</textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on Pending:</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm {% if settings.pending.status==0 %} active  {% else %} notActive {% endif %}" id="pending_yes" data-toggle="send_sms_pending" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm {% if settings.pending.status==1 %} active  {% else %} notActive {% endif %}" id="pending_no" data-toggle="send_sms_pending" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_pending" id="send_sms_pending" value="{% if settings.pending.status %} {{ settings.pending.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>

                                                <label class="col-sm-12 col-md-2 control-label" for="pending_msg">Pending Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="pending_msg" class="form-control" rows="3" id="pending_msg" placeholder="Pending Massage " required {% if settings.pending.status==1 %}readonly="readonly"{% endif %} >{% if settings.pending.message %}{{ settings.pending.message }} {% endif %}</textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on Processing:</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm {% if settings.processing.status==0 %} active  {% else %} notActive {% endif %}" id="processing_yes" data-toggle="send_sms_processing" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm {% if settings.processing.status==1 %} active  {% else %} notActive {% endif %}" id="processing_no"  data-toggle="send_sms_processing" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_processing" id="send_sms_processing" value="{% if settings.processing.status %} {{ settings.processing.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>
                                                <label class="col-sm-12 col-md-2 control-label" for="processing_msg">Processing Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="processing_msg" class="form-control" rows="3" id="processing_msg" placeholder="Processing Massage " required {% if settings.processing.status==1 %}readonly="readonly"{% endif %} >{% if settings.processing.message %}{{ settings.processing.message }} {% endif %}</textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">

                                            <div class="form-group row">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on Failed:</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm {% if settings.failed.status==0 %} active  {% else %} notActive {% endif %}"  id="failed_yes" data-toggle="send_sms_failed" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm {% if settings.failed.status==1 %} active  {% else %} notActive {% endif %}"
                                                               id="failed_no" data-toggle="send_sms_failed" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_failed" id="send_sms_failed" value="{% if settings.failed.status %} {{ settings.failed.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>
                                                <label class="col-sm-12 col-md-2 control-label" for="failed_msg">Failed Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="failed_msg" class="form-control" rows="3" id="failed_msg" placeholder="Failed Massage " required {% if settings.failed.status==1 %}readonly="readonly"{% endif %} >{% if settings.failed.message %}{{ settings.failed.message }} {% endif %}</textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on complete:</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm {% if settings.complete.status==0 %} active  {% else %} notActive {% endif %}" id="complete_yes" data-toggle="send_sms_complete" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm {% if settings.complete.status==1 %} active  {% else %} notActive {% endif %}" id="complete_no" data-toggle="send_sms_complete" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_complete" id="send_sms_complete" value="{% if settings.complete.status %} {{ settings.complete.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>

                                                <label class="col-sm-12 col-md-2 control-label" for="complete_msg">complete Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="complete_msg" class="form-control" rows="3" id="complete_msg" placeholder="Complete Massage " required {% if settings.complete.status==1 %}readonly="readonly"{% endif %} >{% if settings.complete.message %}{{ settings.complete.message }} {% endif %}</textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on Cancelled:</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm {% if settings.cancelled.status==0 %} active  {% else %} notActive {% endif %}" id="cancelled_yes" data-toggle="send_sms_cancelled" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm {% if settings.cancelled.status==1 %} active  {% else %} notActive {% endif %}" id="cancelled_no" data-toggle="send_sms_cancelled" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_cancelled" id="send_sms_cancelled" value="{% if settings.cancelled.status %} {{ settings.cancelled.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>

                                                <label class="col-sm-12 col-md-2 control-label" for="cancelled_msg">Cancelled Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="cancelled_msg" class="form-control" rows="3" id="cancelled_msg" placeholder="Cancelled Massage " required {% if settings.cancelled.status==1 %}readonly="readonly"{% endif %} >{% if settings.cancelled.message %}{{ settings.cancelled.message }} {% endif %}</textarea>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-md-2 control-label ">Send SMS on Refunded:</label>
                                                <div class="col-sm-12 col-md-2">
                                                    <div class="input-group">
                                                        <div id="radioBtn" class="btn-group">
                                                            <a class="btn btn-primary btn-sm {% if settings.refunded.status==0 %} active  {% else %} notActive {% endif %}" id="refunded_yes" data-toggle="send_sms_refunded" data-title="0">YES</a>
                                                            <a class="btn btn-primary btn-sm {% if settings.refunded.status==1 %} active  {% else %} notActive {% endif %}" id="refunded_no" data-toggle="send_sms_refunded" data-title="1">NO</a>
                                                        </div>
                                                        <input type="hidden" name="send_sms_refunded" id="send_sms_refunded" value="{% if settings.refunded.status %} {{ settings.refunded.status }} {% else %} 0 {% endif %}">
                                                    </div>
                                                </div>

                                                <label class="col-sm-12 col-md-2 control-label" for="pending_msg">Refunded Massage :</label>
                                                <div class="col-sm-12 col-md-5">

                                                    <textarea name="refunded_msg" class="form-control" rows="3" id="refunded_msg" placeholder="Refunded Massage " required {% if settings.refunded.status==1 %}readonly="readonly"{% endif %} >{% if settings.refunded.message %}{{ settings.refunded.message }} {% endif %}</textarea>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-12 ">
                                            <input type="submit" id="notify-update" class="btn btn-primary " value="Save">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane table-responsive" id="tab-custom">
                            <div class="col-sm-6">
                                <div class="panel panel-default panel-floating panel-floating-inline">
                                    <div class="panel-body">
                                        <form method="post" action="javascript:void(0)" id="custom_sms" class="form-horizontal">
                                            <div class="form-group">
                                                <label for="type" class="col-sm-3">Select Type:</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="type" required name="type">
                                                        <option value="" >Select</option>
                                                        <option value="all">All Number</option>
                                                        <option value="single">Single SMS</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display: none" id="show_campaign_title">
                                                <label for="campaignTitle" class="col-sm-3 ">Campaign Title :</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="campaign_title" id="campaignTitle" placeholder="Campaign Title" disabled>

                                                </div>
                                            </div>
                                            <div class="form-group " style="display: none" id="show_number">
                                                <label for="number" class="col-sm-3">Number :</label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control" name="number" id="number" placeholder="Number" disabled>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="massage" class="col-sm-3 ">Massage :</label>
                                                <div class="col-sm-9">
                                                    <textarea name="custom_msg" class="form-control" id="massage" rows="6"  placeholder="Write Your Massage " required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="col-sm-4 col-md-4 ">

                                                </div>
                                                <div class="col-sm-10 ">
                                                    <input type="submit" name="send" id="send" class="btn btn-primary" value="Send">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane table-responsive" id="tab-balance">

                            {% if sms_balance.api_response_code==200 %}
                                <div class="col-sm-4">
                                    <div class="panel panel-default panel-floating panel-floating-inline ">
                                        <div class="panel-body">
                                            <header>
                                                {% if sms_balance.balance =='Postpaid' %}
                                                    Account Type
                                                {% else %}
                                                    Total SMS
                                                {% endif %}
                                            </header>
                                            <h4>{{ sms_balance.balance }}</h4>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="panel panel-default panel-floating panel-floating-inline ">
                                        <div class="panel-body">
                                            <header>
                                                Total SMS Usage
                                            </header>
                                            <h4>{{ sms_balance.total_usage }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel panel-default panel-floating panel-floating-inline ">
                                        <div class="panel-body">
                                            <header>
                                                Current Month Usage
                                            </header>
                                            <h4>{{ sms_balance.current_month_usage }}</h4>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-sm-12">
                                    <h3>
                                        <i><strong style="color:red">  Something Went Wrong !</strong></i>
                                    </h3>
                                </div>

                            {% endif %}
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('#radioBtn a').on('click', function(){
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#'+tog).prop('value', sel);

        $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
    });

    //registration_script
    $('#registration_yes').on('click', function () {
        $("#registration_msg").removeAttr("readonly", true);
        $("#registration_msg").attr('required', true);
    });
    $('#registration_no').on('click', function () {
        $("#registration_msg").attr("readonly", true);
        $("#registration_msg").removeAttr('required', true);

    });
    //password_reset_script
    $('#password_reset_yes').on('click', function () {
        $("#password_reset_msg").removeAttr("readonly", true);
        $("#password_reset_msg").attr('required', true);

    });
    $('#password_reset_no').on('click', function () {

        $("#password_reset_msg").attr("readonly", true);
        $("#password_reset_msg").removeAttr('required', true);

    });
    //shipped_script
    $('#shipped_yes').on('click', function () {
        $("#shipped_msg").removeAttr("readonly", true);
        $("#shipped_msg").attr('required', true);
    });
    $('#shipped_no').on('click', function () {
        $("#shipped_msg").attr("readonly", true);
        $("#shipped_msg").removeAttr('required', true);
    });
    //pending_script
    $('#pending_yes').on('click', function () {
        $("#pending_msg").removeAttr("readonly", true);
        $("#pending_msg").attr('required', true);
    });
    $('#pending_no').on('click', function () {
        $("#pending_msg").attr("readonly", true);
        $("#pending_msg").removeAttr('required', true);
    });
    //processing_script
    $('#processing_yes').on('click', function () {
        $("#processing_msg").removeAttr("readonly", true);
        $("#processing_msg").attr('required', true);
    });
    $('#processing_no').on('click', function () {
        $("#processing_msg").attr("readonly", true);
        $("#processing_msg").removeAttr('required', true);
    });
    //failed_script
    $('#failed_yes').on('click', function () {
        $("#failed_msg").removeAttr("readonly", true);
        $("#failed_msg").attr('required', true);
    });
    $('#failed_no').on('click', function () {
        $("#failed_msg").attr("readonly", true);
        $("#failed_msg").removeAttr('required', true);
    });
    //complete_script
    $('#complete_yes').on('click', function () {
        $("#complete_msg").removeAttr("readonly", true);
        $("#complete_msg").attr('required', true);
    });
    $('#complete_no').on('click', function () {
        $("#complete_msg").attr("readonly", true);
        $("#complete_msg").removeAttr('required', true);
    });
    //cancelled_script
    $('#cancelled_yes').on('click', function () {
        $("#cancelled_msg").removeAttr("readonly", true);
        $("#cancelled_msg").attr('required', true);
    });
    $('#cancelled_no').on('click', function () {
        $("#cancelled_msg").attr("readonly", true);
        $("#cancelled_msg").removeAttr('required', true);
    });
    //refunded_script
    $('#refunded_yes').on('click', function () {
        $("#refunded_msg").removeAttr("readonly", true);
        $("#refunded_msg").attr('required', true);
    });
    $('#refunded_no').on('click', function () {
        $("#refunded_msg").attr("readonly", true);
        $("#refunded_msg").removeAttr('required', true);
    });
    $('#type').on('change', function() {
        var value = $(this).val();
        // alert(value);
        if(value==='single'){
            $("#show_number").show();
            $("#number").removeAttr("disabled", true);
            $("#number").attr('required', true);
            $("#show_campaign_title").hide();
            $("#campaignTitle").attr("disabled", true);
            $("#campaignTitle").removeAttr('required', true);

        }else if (value==='all'){
            $("#show_campaign_title").show();
            $("#campaignTitle").removeAttr("disabled", true);
            $("#campaignTitle").attr('required', true);
            $("#show_number").hide();
            $("#number").attr("disabled", true);
            $("#number").removeAttr('required', true);
        }else{
            $("#show_number").hide();
            $("#number").attr("disabled", true);
            $("#number").removeAttr('required', true);
            $("#show_campaign_title").hide();
            $("#campaignTitle").attr("disabled", true);
            $("#campaignTitle").removeAttr('required', true);
        }
    });

    $(".toggle-password").click(function() {
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            $(".field-icon").text("Hide");
        } else {
            input.attr("type", "password");
            $(".field-icon").text("Show");
        }
    });
    jQuery(function () {
        jQuery('#formId').validate({
            submitHandler:function () {
                var url = "index.php?route=extension/module/adn_sms/adnAjaxConfig&user_token={{ user_token }}";
                var postdata= jQuery("#formId").serialize();

                jQuery.post(url,postdata,function (response) {

                    location.reload();
                })
            }
        });
    });

    jQuery(function () {
        jQuery('#formNotify').validate({
            submitHandler:function () {
                var url = "index.php?route=extension/module/adn_sms/adnAjaxNotification&user_token={{ user_token }}";
                var postDataFormNotify= jQuery("#formNotify").serialize();

                jQuery.post(url,postDataFormNotify,function (response) {
                    // console.log(response);
                    location.reload();
                })
            }
        });
    });

    jQuery(function () {
        jQuery('#custom_sms').validate({
            submitHandler:function () {
                var url = "index.php?route=extension/module/adn_sms/adnAjaxCustomSMS&user_token={{ user_token }}";
                var postDataSMS= jQuery("#custom_sms").serialize();

                jQuery.post(url,postDataSMS,function (response) {
                    console.log(response);
                    var status= jQuery.parseJSON(response);
                    if(status.status==1){
                        alert(status.massage);
                        document.forms['custom_sms'].reset();
                    }else{
                        alert(status.massage);
                    }

                })
            }
        });
    });
</script>
{{ footer }}